<div class="container-fluid">
    <div class="row">
        <!-- Menu bar -->
        <div class="col-3">
            <div class="card" style="margin-top: 20px;margin-left: 50px;font-family: 'Prompt';">
                <div class="card-body">
                    <div class="list-group">
                        <a href="user" class="list-group-item list-group-item-action" aria-current="true">
                            ข้อมูลของฉัน
                        </a>
                        <a href="user/address" class="list-group-item list-group-item-action" aria-current="true">ที่อยู่ของฉัน</a>
                        <a href="user/password" class="list-group-item list-group-item-action active">เปลี่ยนรหัสผ่าน</a>
                        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Password Change Card-->
        <div class="col-9">
            <div class="card" style="margin-top: 20px;margin-left: 20px;margin-right: 50px;font-family: 'Prompt'">
                <div class="card-body">
                    <div class="card-title" style="text-align: center;"><b>เปลี่ยนรหัสผ่าน</b></div>

                    <form [formGroup] = "passwordForm">
                        <div class="row" style="margin-top: 20px;">

                            <div class="col-md-2">
                                    <div class="card-text">รหัสผ่านเดิม: </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="password">
                                </div>
                            </div>

                        </div>

                        <div class="row" style="margin-top: 20px;">

                            <div class="col-md-2">
                                    <div class="card-text">รหัสผ่านใหม่: </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="newPassword">
                                </div>
                                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger" role="alert"> 
                                    <div *ngIf="newPassword.errors">
                                        รหัสผ่านขั้นต่ำ 8 ตัว
                                    </div>
                                </div> 
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">

                            <div class="col-md-2">
                                    <div class="card-text">รหัสผ่านใหม่อีกครั้ง: </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="newPasswordCheck">
                                </div>
                                <div *ngIf="passwordForm.value.newPasswordCheck != passwordForm.value.newPassword && (newPasswordCheck.dirty || newPasswordCheck.touched)" class="alert alert-danger" role="alert"> 
                                        พาสเวิร์ดไม่ตรงกัน
                                </div> 
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">

                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary" [disabled] = "passwordForm.invalid || passwordForm.value.newPasswordCheck != passwordForm.value.newPassword" (click)="changPWD()">เปลี่ยนรหัสผ่าน</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        
    </div>
</div>