<div class="header">
    <div class="row">
        <div class="col-3">
            <!-- side bar buttom -->
            <button type="button" class="btn btn-outline-light" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="fa fa-bars" aria-hidden="true" style="color: white;"></i>
            </button>
            <!-- logo -->
            <a class="btn" href="#">
            <img src="https://phoenixnext.com/assets/logo.png"style="width: 243px;height: 48px;margin-left: 10px;">
            </a>
        </div>
        <div class="col-6">
           
        </div>
        <div class="col-3">
            <div *ngIf="local.get('user') !== null" class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="user" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    สวัสดี {{this.local.get('user').result.firstName}} {{this.local.get('user').result.lastName}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="user">
                    <li><a class="dropdown-item" href="user">ข้อมูลของฉัน</a></li>
                    <li><a class="dropdown-item" href="#">Our Team</a></li>
                    <li><a class="dropdown-item" href="#" (click)="signout()">Sign Out</a></li>
                </ul>
            </div>
            <!-- Button trigger modal -->
            <button *ngIf="local.get('user') === null" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Sign In
            </button>
        </div>
    </div>
</div>

<!-- offcanvas side bar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header" style="background-color: #1895f5;color: white;">
        <h1 class="offcanvas-title" id="offcanvasExampleLabel" style="font-size: 36px;margin-top: 10px;">MENU</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h3 style="color: black; font-family: 'Prompt';font-size: 24px;">หมวดหมู่สินค้า</h3>
    </div>
</div>



<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="border: 0ch;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
               
                <div class="tab-content" id="ex2-content">
                    <!-- Tabs navs -->
                <ul class="nav nav-tabs nav-fill mb-2" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ex2-tab-1" data-bs-toggle="tab" href="#signin" role="tab"
                            aria-controls="signin" aria-selected="true" style="font-family: 'Prompt';">เข้าสู่ระบบ</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex2-tab-2" data-bs-toggle="tab" href="#signup" role="tab"
                            aria-controls="signup" aria-selected="false" style="font-family: 'Prompt';">สมัครสมาชิก</a>
                    </li>
                </ul>
                     <!-- Tabs content -->
                    <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="ex2-tab-1">
                        <form [formGroup]="authForm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="email" 
                                            formControlName="email">
                                        </div>
                                        <div class="form-group" style="margin-top: 20px;">
                                            <input type="password"  class="form-control" 
                                            placeholder="password" formControlName="password">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-2">
                                        
                                    </div>
                                    <div class="col-md-8 d-grid">
                                        <button type="button" class="btn btn-primary" 
                                        (click)="signin()" data-bs-dismiss="modal">Sign
                                            in</button>&nbsp;
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                        <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="ex2-tab-2">
                            <form [formGroup]="profileForm">
                                <div class="card-body">

                                    <div class="row" style="margin-top: 20px;font-family: 'Prompt';">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" 
                                                placeholder="ชื่อ" formControlName='firstName'>
                                            </div>
                                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger" role="alert"> 
                                                <div *ngIf="firstName.errors.required">
                                                    โปรดระบุชื่อ
                                                </div>
                                            </div> 
                                        </div>
                    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" 
                                                placeholder="นามสกุล" formControlName='lastName'>
                                            </div>
                                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger" role="alert"> 
                                                <div *ngIf="lastName.errors.required">
                                                    โปรดระบุนามสกุล
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="row" style="margin-top: 20px;font-family: 'Prompt';">
                                            <div class="col-md-6" style="margin-top: 10px;">
                                                <label for="">เพศ: </label>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" style="margin-left: 15px;">
                                                        <input class="form-check-input" type="radio" name="sex" value="ชาย" formControlName='sex'>ชาย
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="sex" value="หญิง" formControlName='sex'>หญิง
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="sex" value="อื่นๆ" formControlName='sex'>อื่นๆ
                                                    </label>
                                                </div>
                                                <br/><br/>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" 
                                                    placeholder="เบอร์โทร" formControlName='phone'
                                                    style="font-family: 'Prompt';width: 355px;margin-left: 12px;">
                                                </div>
                                                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger" role="alert"> 
                                                    <div *ngIf="phone.errors.required">
                                                        โปรดระบุเบอร์โทร
                                                    </div>
                                                    <div *ngIf="phone.errors.pattern">
                                                        โปรดระบุรเบอร์โทรให้ถูกต้อง
                                                    </div>
                                                </div> 
                                            </div>

                                        </div>

                                        <div class="row" style="margin-top: 20px;font-family: 'Prompt';">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" 
                                                    placeholder="email" formControlName='email'
                                                    style="font-family: 'Prompt';">
                                                </div>
                                            </div>
                                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" role="alert"> 
                                                <div *ngIf="email.errors.required">
                                                    โปรดระบุ email
                                                </div>
                                                <div *ngIf="email.errors.pattern">
                                                    โปรดระบุรหัสไปษณีย์ให้ถูกต้อง
                                                </div>
                                            </div> 
                                        </div>
                                        
                                        <div class="row" style="margin-top: 20px;font-family: 'Prompt';">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="password" class="form-control" 
                                                    placeholder="password" formControlName='password'
                                                    style="font-family: 'Prompt';">
                                                </div>
                                            </div>
                                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger" role="alert"> 
                                                <div *ngIf="password.errors.required">
                                                    โปรดระบุรหัสไปษณีย์
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="row" style="margin-top: 40px;">
                                            <div class="col-md-12 d-grid">
                                                <button type="button" class="btn btn-primary" 
                                                (click)="signup()" data-bs-dismiss="modal" [disabled]="profileForm.invalid">Sign
                                                    in</button>&nbsp;
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                
                

            </div>
        </div>
    </div>