<div class="card" style="font-family: 'Prompt';">
        
    <div class="card-body">
        <div>
            <h3 class="text-center font-weight-bold mb-4">สินค้าแนะนำ</h3>
            <div id="carouselRecommeded" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner">

                    <!-- carousel page 1-->
                    <div class="carousel-item active" >
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="{{product[0].img}}" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>{{product[0].name}}</h4>
                                    </div>
                                    <p class="item-price"><b>{{product[0].price}} บาท</b></p>
                                    <button (click)="getSomeProduct(product[0]._id)"class="btn btn-primary" [disabled]="product[0].quantity == 0" >Add to Cart</button>
                                    <button (click)="getFav(product[0]._id)"class="btn btn-danger" [disabled]="product[0].quantity == 0" style="margin-top: 20px;" >Add to Favorite</button>
                                </div>
                            </div>

                                <div class="col-md-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{product[1].img}}" class="img-responsive" alt="" style="height: 100%;margin-left: 20px;">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{product[1].name}}</h4>
                                        </div>
                                        <p class="item-price"><b>{{product[1].price}} บาท</b></p>
                                        <button (click)="getSomeProduct(product[1]._id)"class="btn btn-primary" [disabled]="product[1].quantity == 0">Add to Cart</button>
                                        <button (click)="getFav(product[1]._id)"class="btn btn-danger" [disabled]="product[0].quantity == 0" style="margin-top: 20px;">Add to Favorite</button>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{product[2].img}}" class="img-responsive" alt="" >
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{product[2].name}}</h4>
                                        </div>
                                        <p class="item-price"><b>{{product[2].price}} บาท</b></p>
                                        <button (click)="getSomeProduct(product[2]._id)"class="btn btn-primary" [disabled]="product[2].quantity == 0" >Add to Cart</button>
                                        <button (click)="getFav(product[2]._id)"class="btn btn-danger" [disabled]="product[2].quantity == 0" style="margin-top: 20px;">Add to Favorite</button>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{product[3].img}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{product[3].name}}</h4>
                                        </div>
                                        <p class="item-price"><b>{{product[3].price}} บาท</b></p>
                                        <button (click)="getSomeProduct(product[3]._id)"class="btn btn-primary" [disabled]="product[3].quantity == 0" >Add to Cart</button>
                                        <button (click)="getFav(product[3]._id)"class="btn btn-danger" [disabled]="product[3].quantity == 0" style="margin-top: 20px;">Add to Favorite</button>
                                    </div>
                                </div>

                            
                        </div>
                    </div>

                    <!-- carousel page 2-->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="{{product[4].img}}" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>{{product[4].name}}</h4>
                                    </div>
                                    <p class="item-price"><b>{{product[4].price}} บาท</b></p>
                                    <button (click)="getSomeProduct(product[4]._id)"class="btn btn-primary" [disabled]="product[4].quantity == 0" >Add to Cart</button>
                                    <button (click)="getFav(product[4]._id)"class="btn btn-danger" [disabled]="product[4].quantity == 0" style="margin-top: 20px;">Add to Favorite</button>
                                </div>
                            </div>

                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{product[5].img}}" class="img-responsive" alt="" style="width: auto;height: 125px;margin-left: 30px;">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{product[5].name}}</h4>
                                        </div>
                                        <p class="item-price"><b> {{product[5].price}} บาท</b></p>
                                        <button (click)="getSomeProduct(product[5]._id)"class="btn btn-primary" [disabled]="product[5].quantity == 0" >Add to Cart</button>
                                    <button (click)="getFav(product[5]._id)"class="btn btn-danger" [disabled]="product[5].quantity == 0" style="margin-top: 20px;">Add to Favorite</button>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{product[6].img}}" class="img-responsive" alt="" style="width: auto;height: 125px;margin-left: 30px;">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{product[6].name}}</h4>
                                        </div>
                                        <p class="item-price"><b> {{product[6].price}} บาท</b></p>
                                        <button (click)="getSomeProduct(product[6]._id)"class="btn btn-primary" [disabled]="product[6].quantity == 0" >Add to Cart</button>
                                    <button (click)="getFav(product[6]._id)"class="btn btn-danger" [disabled]="product[6].quantity == 0" style="margin-top: 20px;">Add to Favorite</button>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{product[7].img}}" class="img-responsive" alt="" style="width: auto;height: 125px;margin-left: 30px;">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{product[5].name}}</h4>
                                        </div>
                                        <p class="item-price"><b> {{product[5].price}} บาท</b></p>
                                        <button (click)="getSomeProduct(product[7]._id)"class="btn btn-primary" [disabled]="product[7].quantity == 0" >Add to Cart</button>
                                    <button (click)="getFav(product[7]._id)"class="btn btn-danger" [disabled]="product[7].quantity == 0" style="margin-top: 20px;">Add to Favorite</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>

                <!-- carousal Control -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecommeded"
                    data-bs-slide="prev">
                    <i class="fa fa-arrow-circle-left fa-3x " aria-hidden="true" style="color: black;"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselRecommeded"
                    data-bs-slide="next">
                    <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true" style="color: black;"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>