<div class="card">
        
    <div class="card-body">
        <div>
            <h3 class="text-center font-weight-bold mb-4">สินค้าแนะนำ</h3>
            <div id="carouselRecommeded" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner">

                    <!-- carousel page 1-->
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="https://phoenixnext.com/img/310/300/resize/4/2/42694039_1082090741953744_8359255987340705792_n_1.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Product 1</h4>
                                    </div>
                                    <p class="item-price"><b>฿200.00</b></p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                                <div class="col-sm-3">

                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3">

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- carousel page 2-->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="https://www.tutorialrepublic.com/examples/images/products/macbook-air.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Apple iPad</h4>
                                    </div>
                                    <p class="item-price"><b>$369.00</b></p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                                <div class="col-sm-3">

                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- carousal Control -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecommeded"
                    data-bs-slide="prev">
                    <i class="fa fa-arrow-circle-left fa-3x " aria-hidden="true" style="color: black;"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselRecommeded"
                    data-bs-slide="next">
                    <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true" style="color: black;"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>