<div class="card" style="margin-top: 20px;margin-left: 50px;font-family: 'Prompt';">
    <div class="card-body">
        <div class="list-group">
            <a href="user" class="list-group-item list-group-item-action active" aria-current="true">
                ข้อมูลของฉัน
            </a>
            <a href="user/address" class="list-group-item list-group-item-action" aria-current="true">ที่อยู่ของฉัน</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
        </div>
    </div>
</div>