<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card" style="margin-top: 20px;margin-left: 50px;font-family: 'Prompt';">
    <div class="card-body">
        <div class="list-group">
            <a href="user" class="list-group-item list-group-item-action active" aria-current="true">
                ข้อมูลของฉัน
            </a>
            <a href="user/address" class="list-group-item list-group-item-action" aria-current="true">ที่อยู่ของฉัน</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
        </div>
    </div>
</div>
        </div>

        <div class="col-9">
            <div class="card" style="margin-top: 20px;margin-left: 20px;margin-right: 50px;">
                <div class="card-body">
                    <div class="card-title" style="text-align: center;font-family: 'Prompt';">ข้อมูลส่วนตัว</div>
                    <div class="card">
                        <div class="card-body" style="font-family: 'Prompt';">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <td>ชื่อ:</td>
                                        <td><b>{{user.firstName}} {{user.lastName}}</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>เพศ:</td>
                                        <td><b>{{user.sex}}</b></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>Email:</td>
                                        <td><b>{{user.email}}</b></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>มือถือ:</td>
                                        <td><b>{{user.phone}}</b></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>address:</td>
                                        <td><b *ngIf="user.address != null" >{{user.address.street}} {{user.address.city}} {{user.address.state}} {{user.address.country}} {{user.address.zip}}</b><b *ngIf="user.address == null">ยังไม่ได้ระบุที่อยู่</b></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="card-text"> </p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">

        </div>

    </div>
</div>