<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark" style="background-color: #1895f5;">
  <div class="navbar-header" style="margin-left: 20px;">
    <button class="btn" type="button">
      <i class="fa fa-bars" aria-hidden="true" style="color: white;"></i>
    </button>
    <img src="https://phoenixnext.com/assets/logo.png" alt="..." style="height: 50%;width: 50%;">
  </div>
  <ul class="nav navbar-nav navbar-right">
    <button class="btn btn-danger" (click)="signout()" style="margin-right: 20px;">Log out</button>
  </ul>
</nav>