<nav class="navbar navbar-dark" style="background-color: #1895f5;">
  <div class="navbar-header" style="margin-left: 20px;">
    <button class="btn" type="button" (click)="nvbarOpen()">
      <i class="fa fa-bars" aria-hidden="true" style="color: white;"></i>
    </button>
    <img src="https://phoenixnext.com/assets/logo.png" alt="..." style="height: 50%;width: 50%;">
  </div>
  
    <li class="nav-item dropdown" style="list-style-type: none;">
      
      <a class="drop" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-user-o fa-3x" aria-hidden="true" style="margin-top: 10px;"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="signout()">Log out</a></li>
      </ul>

      <a routerLink="cart" class="btn btn-dark">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart 
        <span class="badge badge-info">0</span>
      </a>
    </li>
</nav>

<div class="wrapper">
  <!-- Sidebar  -->
  <nav *ngIf="opened" id="sidebar">
    <div class="sidebar-header">
      <button class="navbar-toggler" type="button" (click)="nvbarOpen()" style="position: absolute; right: 0;">
        <i class="fa fa-times-circle-o fa-2x" aria-hidden="true" style="color:white"></i>
      </button>
      <h2>MENU
      </h2>
    </div>
    <ul class="list-unstyled components">
      <h3 style="color: black;margin-left: 20px;font-family: 'Prompt';">หมวดหมู่สินค้า</h3>
      <li class="active">
      <li>
        <a href="#">About</a>
      </li>
      <li>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>